.wrapper{
display: grid;
/* grid-template-columns: 40% 30% 30%; */
grid-template-columns: 1fr 1fr 1fr 1fr;
/* or grid-template-columns: repeat(4,1fr) */
/* sets sizes of grids/columns */
/* grid-column-gap: 16px;
grid-row-gap: 16px; */
grid-gap: 16px;
}
.wrapper > div {
    background-color: #eee;
    padding: 16px;
}

.wrapper > div:nth-child(odd) {
    background-color: #ddd;
}